@model EntityLayer.Concrete.Category

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Yeni Kategori Ekleme Sayfası</h1>
<br />

@using (Html.BeginForm("AddCategory","Category",FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategotyName)
    @Html.ValidationMessageFor(x=>x.CategotyName)
    <br />  <br />
    @Html.Label("Açıklamayı Yazınız")
    @Html.TextBoxFor(x => x.CategotyDescription)
    @Html.ValidationMessageFor(x=>x.CategotyDescription)
    <br />  <br />
    <button>Kaydet</button>
</div>
}

@*<form class="form-group" method="post">
    <input type="text" placeholder="Kategori Adı" name="CategotyName" class="form-control" />
    <br />
    <input type="text" placeholder="Kategori Açıklama" name="CategotyDescription" class="form-control" />
    <br />
    <input type="text" placeholder="Kategori Durumu" name="CategoryStatus" class="form-control" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>*@
